:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color:chocolate; 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

/* App.module.css */

.layout {
  background-color: #f8f8f8; /* Un gris muy claro como fondo general */
}

.content {
  padding: 50px; /* Ajusta el padding del contenido principal */
}

.header {
  background-color: #001529; /* Mismo color de fondo del Header de Ant Design por defecto, si quieres cambiarlo */
  padding: 0 50px; /* Ajusta el padding horizontal del header */
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #e0e0e0; /* Un gris más claro para el footer */
}

.logoArea {
  float: left;
  margin-right: 20px;
  color: white; /* Color del logo */
}

.menuArea {
  float: left;
}

.searchLoginArea {
  float: right;
  display: flex;
  align-items: center;
}

.tituloPrincipalArea {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.carouselArea {
  margin-bottom: 30px;
}

.recetasGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}